*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right,#ff1a66,#ff6699);
}
header{
    padding: 50px;
    font-size: 30px;
    color: white;
}
header span{
    margin-left: 10px;
}
header ul{
    float: right;
    list-style: none;
}
header ul li{
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.2s;
}
header ul li a{
    text-decoration: none;
    color: white;
}
header ul li:nth-child(1){
    background-color: black;
}
header ul li:hover{
    background-color: black;
}
main{
    text-align: center;
    padding-top: 180px;
}
main p{
    font-size: 35px;
    color: white
}
main button{
    background-color:#cc0066;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    margin-top:20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}
main button:hover{
    font-size: 22px;
}